<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asopoketool.mapper.PrizePointMapper">

    <select id="findByTournamentId" resultType="com.asopoketool.model.PrizePointSetting">
        SELECT * FROM prize_point_setting WHERE tournament_id = #{tournamentId} ORDER BY rank ASC
    </select>

    <select id="findByTournamentAndRank" resultType="com.asopoketool.model.PrizePointSetting">
        SELECT * FROM prize_point_setting WHERE tournament_id = #{tournamentId} AND rank = #{rank}
        LIMIT 1
    </select>

    <insert id="insertBatch">
        INSERT INTO prize_point_setting (tournament_id, rank, point)
        VALUES 
        <foreach collection="list" item="item" separator=",">
            (#{item.tournamentId}, #{item.rank}, #{item.point})
        </foreach>
    </insert>

    <delete id="deleteByTournamentId">
        DELETE FROM prize_point_setting WHERE tournament_id = #{tournamentId}
    </delete>

</mapper>
